<!doctype html>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} | {% endif %}/tmp/being</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/syntax.css">

<header class="page-header">
    <div class="content">
        <h1 class="site-name"><a href="/">/tmp/being</a></h1>
        <h2 class="site-description">Thoughts on software, productivity and society</h2>
        <nav>
            <ul>
                <li class="nav"><a href="/index">Index</a></li>
                <li class="nav"><a href="https://github.com/tmpbeing">Git</a></li>
                <li class="nav"><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    {{ content }}
</main>
