---
layout: default
---

<article class="post">
    <header class="article-header">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
        {{ page.date | date: "%b %d, %Y" }}
    </time>
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    </header>

    {{ content }}

    <ul class="tags">
    {% for tag in page.tags %}
        <li>
            <!-- <a href="/tags/{{ tag }}/"> -->
                {{ tag }}
            <!-- </a> -->
        </li>
    {% endfor %}
    </ul>

    <nav>
    {% if page.previous.url %}
        <div class="prev-article">
            <a href="{{page.previous.url}}">
                {{page.previous.title}}
            </a>
            </span>
        </div>
    {% endif %}
    {% if page.next.url %}
        <div class="next-article">
            <a href="{{page.next.url}}">
                {{page.next.title}}
            </a>
        </div>
    {% endif %}
    </nav>
</article>
